#front-slider {
    height: 375px;
    position: relative;
    overflow: hidden;

    .slick-arrow {
        position: absolute;
        top: 50%;
        border: 0;
        background: unset;
        color: #fff;
        font-size: 2rem;
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        opacity: 0.5;
        transform: translateY(-50%);
        z-index: 150;

        &:focus, &:hover {
            cursor: pointer;
            outline: none;
        }

        &.prev-arrow {
            left: 10px;
        }
        &.next-arrow {
            right: 10px;
        }
    }

    .slider__slide {
        height: 375px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 100;
        outline: none;

        .slider__content {
            position: absolute;
            bottom: 40px;
            left: 40px;

            &--flipped {
                left: auto;
                right: 40px;
                text-align: right;
            }

            &--block {
                display: block;
            }

            &--highlight {
                background-color: rgba(255,255,255,.85);
                color: $main-font-color;
                padding: 11px 20px;
                margin: 2px 0;
                font-size: 1.5rem;
                line-height: 1.5rem;
                display: inline-block;

                &:hover, &:focus {
                    background-color: $wht-blue;
                    color: #fff;
                }
            }
        }
    }
}

#home-posts {
    > .row:first-child {
        padding-bottom: 0;

        > .col-12 {
            padding-bottom: 0;
        }
    }
    > .row + .row {
        padding-top: 0;
    }

    .home-posts__title {
        font-size: 1.5rem;
        line-height: 1;
        font-weight: 400;
        display: block;
        color: inherit;
        text-decoration: none;

        .fa__block {
            position: absolute;
            top: 0;
            left: 0.8rem;
        }
    }

    .row + .row {
        margin-bottom: 1rem;
    }

    h3 a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
        transition: all 0.2s ease;

        &:hover {
            color: $wht-blue;
        }
    }
}

#content .frontpage__sidebar {
    .ghostkit-col-content {
        > .ghostkit-icon-box {
            padding: 0;
            margin: 0;
            align-items: center;

            &:hover {
                .svg-inline--fa {
                    color: $icon-hover-gray;
                }
            }

            > .ghostkit-icon-box-icon {
                color: $font-color;
                padding: 0.4rem 0.8rem;

                > .svg-inline--fa {
                    width: 1.5rem;
                }
            }

            > .ghostkit-icon-box-content {
                p, a {
                    margin: 0;
                    padding: 0;
                    border: 0;
                }
            }

            &.gk__block:not(:first-child) {
                margin-top: 1.5rem;
            }

            &.gk__block {
                margin-bottom: 0.5rem;

                > .ghostkit-icon-box-icon {
                    background-color: $wht-blue;

                    .svg-inline--fa {
                        color: #fff !important;
                    }
                }

                > .ghostkit-icon-box-content {
                    padding-left: 0;
                    margin-left: 1.5em;
                    border-bottom: 1px solid $light-gray;
                    align-self: stretch;
                    display: inline-flex;
                    align-items: center;
                    justify-content: flex-start;
                }
            }
        }
    }
}

.home #main #content {
    @include media-breakpoint-up(lg) {
        margin: 0;
    }

    > .page {
        @include media-breakpoint-up(lg) {
            margin: 0;
        }

        > .entry-content {
            @include media-breakpoint-up(lg) {
                padding: 0;
            }
        }

        .ghostkit-col {
            @include media-breakpoint-up(lg) {
                padding-left: 3rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
            }

            &.frontpage__sidebar {
                @include media-breakpoint-up(lg) {
                    border-left: 1px solid #dbdbdb;
                    padding-right: 3rem;
                }
            }
        }
    }
}

.home {
    .wrapper {
        &--styled,
        &--preview {
            display: block;
        }
    }
}